snippet div
<div class="$1">
	$2
</div>
endsnippet

snippet divl
<div class="$1">$2</div>
endsnippet

snippet import
<script src="$1"></script>
endsnippet

snippet t
	<${1:}${2}>
		${3}
	</$1>
endsnippet
# inline tag
snippet ti
	<${1:}>${2}</$1>
endsnippet
