[submodule "plugins/vim-lsp"]
	path = plugins/vim-lsp
	url = https://github.com/paradoxskin/vim-lsp.git
[submodule "plugins/miniSnip"]
	path = plugins/miniSnip
	url = https://github.com/paradoxskin/miniSnip.git
